@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.radio-button {
  display: none; /* Hide the default radio button */
}

.radio-label {
  display: inline-block;
  height: 20px; /* Adjusted from 4px to 20px */
  width: 20px; /* Adjusted from 4px to 20px */
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--brand-colors-node-indigo); /* Adjust the color variable as needed */
  cursor: pointer;
}

.radio-button:checked + .radio-label {
  background-color: var(--brand-colors-node-indigo); /* Adjust the color variable as needed */
}

:root {
  --brand-colors-node-indigo: #28338b;
}